.board,
.readOnly,
.disabled,
.marking {
  display: block;
  width: 100%;
  height: 100%;
}
.board {
  cursor: crosshair;
}
.readOnly {
  cursor: default;
}
.disabled {
  cursor: wait;
}
.marking {
  cursor: cell;
}
